<VirtualHost *:80>
ServerAdmin webmaster@{{ sitename }}.com
DocumentRoot /var/www/html/{{ sitename }}.com
ServerName www.{{ sitename }}.com
ErrorLog logs/www.{{ sitename }}.com-error_log
CustomLog logs/www.{{ sitename }}.com-access_log common
</VirtualHost>

 

